html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

* {
  box-sizing: border-box;
}

html[data-theme="light"] {
  --text-color: black;
  --a-color: #1099fa;
  --price-chart: #2c3036;
}

html[data-theme="dark"] {
  --text-color:#a0aec0;
  --a-color: #4983c6;
  --price-chart: #a0aec0;
}

.chakra-ui-dark {
  /* background-color: #081c3b; */
  background-color: #040c19;
}
.chakra-ui-light {
  background-color: white;
}

:root {
  --green: #039f65;
  --red: #f13d3d;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

/* 
Chakra Ui overwrites */
.chakra-tabs__tab {
  padding: 0 !important;
}
.tab[aria-selected="true"] {
  color: var(--text-color) !important;
}
a {
  color: var(--a-color);
  text-decoration: none;
}
.h-3 {
  font-size: 28px;
  font-weight: 700;
}

.h-4 {
  font-weight: 700;
  font-size: 22px;
}
.h-5 {
  font-weight: 700;
  font-size: 18px;
}
.price-tip {
  font-weight: 700;
  font-size: 12px;
}
.links {
  width: 100%;
  color: var(--text-color);
}
.links:hover {
  text-decoration: unset !important;
}
@media screen and (max-width: 479px) {
  .h-4 {
    font-weight: 700;
    font-size: 18px;
  }
  .h-5 {
    font-weight: 700;
    font-size: 16px;
  }
  .h-3 {
    font-size: 24px;
    font-weight: 700;
  }
}
.input {
  background-color: transparent;
  width: 100%;
}

.input:focus-visible {
  outline: unset !important;
}
.range [aria-valuenow] {
  /* background-color: purple; */
  background: linear-gradient(
    90deg,
    hsla(0, 100%, 50%, 1) 0%,
    hsla(60, 100%, 50%, 1) 50%,
    hsla(120, 100%, 50%, 1) 100%
  );
}

.container ::-webkit-scrollbar {
  display: none !important;
  -webkit-appearance: none !important;
}
.container {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
.chart-popover {
  position: fixed;
  z-index: 5;
}
.table-cell {
  font-size: 16px ;
  font-weight: 500 ;
  color: var(--price-chart);
}
.table-cell-bold{
  font-size: 16px ;
  font-weight: 700 ;
  color: var(--text-color);
}
.table-cell-small {
  font-size: 12px ;
  font-weight: 500;
  color: var(--price-chart);
}
.table-cell-small-bold {
  font-size: 12px ;
  font-weight: 700;
  color: var(--price-chart);
}
/* .recharts-legend-wrapper {
  width: max-content;
  right: 0;
  position: relative !important;
}

g.recharts-layer.recharts-pie {
  width: 100% !important;
  height: 100% !important;
}
g.recharts-layer {
  width: 100% !important;
  height: 100% !important;
} */

.recharts-wrapper {
  position: relative;
  cursor: default;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}
.recharts-legend-wrapper {
  position: relative;
  /* padding-top: 50px;
  padding-bottom: 20px; */
}
g:focus {
  outline: unset !important;
}
.recharts-sector:focus {
  outline: unset !important;
}

.toggle-right {
  animation: toggle-right 0.3s ease-in-out both;
}
.toggle-left {
  animation: toggle-left 0.3s ease-in-out both;
}

@keyframes toggle-right {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    transform: translateX(22px) rotate(360deg);
  }
}

@keyframes toggle-left {
  0% {
    transform: translateX(22px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) rotate(-360deg);
  }
}
